<div #target class="chat-box-container">
    <div class ="sticky-header">
        <span id="customer-name">{{clientName}}</span>
        <!-- <span id="chat-id">#1007</span> -->
        <span id="chat-type">{{selectedChatList}}</span>
        <button pTooltip="Transfer Chat to other Agents" *ngIf="chatList !== null && selectedChatList !== 'Resolved Chat'" (click)="openTransferAgent()" label="Transfer Chat" type="button" style="padding: 2px; margin-left: 5px; background-color: purple;" pButton icon="pi pi-directions"></button>
        <button pTooltip="Scroll to bottom of the chat" *ngIf="chatList !== null && selectedChatList !== 'Resolved Chat'" (click)="scrollToElement()" label="Scroll Bottom" type="button" style="padding: 2px; margin-left: 5px; background-color: purple;" pButton icon="pi pi-angle-double-down"></button>
        <button pTooltip="Open Agent Actions" *ngIf="chatList !== null && selectedChatList !== 'Resolved Chat'" (click)="op.toggle($event)" type="button" style="padding: 2px; margin-left: 5px; background-color: white;border: none;outline: none;color: black;position: absolute;right: 10px;" pButton icon="pi pi-ellipsis-v"></button>
    </div>

    <div class="container">
        <div class="imessage">
            <p *ngIf="chatList === null && selectedChatList !==''" >Loading ...</p>
            <p *ngIf="chatList === null && selectedChatList ==='';else noMessage">No Chat Selected</p>
            <ng-template #noMessage><p *ngIf="chatList?.length === 0 && selectedChatList !==''">No messaged found. Send a new Message to begin</p></ng-template>
            <div class="message-chat" *ngFor="let chat of chatList" >
                <p *ngIf="chat.user" [ngClass]="{'from-them':chat.user !==null}">{{chat.user}}<br/><span class="chat-time">{{chat.time}}</span></p>
                <p *ngIf="chat.agent" [ngClass]="{'from-me':chat.agent !==null}">{{chat.agent}}<br/><span class="chat-time chat-time-agent">{{chat.time}}</span></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedChatList !== 'Resolved Chat'" class="input-chat">
    <div class="p-inputgroup">
        <input type="text" (keydown)="checkEnterKey($event)" [formControl] = "chatInput" pInputText placeholder="Keyword"> 
        <span class="p-buttonset">
            <button [disabled]="chatList === null " pButton type="button" pTooltip="Send Message" (click)="sendSocketMessage()" label="Send" style="background-color: purple;" icon="pi pi-check"></button>
            <button [disabled]="chatList === null " pButton type="button" pTooltip="Upload Files" (click)="openDialog()" label="Upload File" style="background-color: purple;" icon="pi pi-file"></button>
        </span> 
    </div>
    
</div>


<p-dialog [(visible)]="display">
    <ng-template pTemplate="header">
        Upload File
    </ng-template>
    <p-fileUpload [showCancelButton]="false" #form [fileLimit]="1" name="myfile[]" [customUpload]="true" (uploadHandler)="myUploader($event,form)"></p-fileUpload>
    <ng-template pTemplate="footer">
        <button pButton type="button" (click)="closeDialog()" label="Cancel" style="background-color: purple;" icon="pi pi-check"></button>
    </ng-template>
</p-dialog>

<p-overlayPanel #op>
    <ng-template pTemplate>
        <div style="display: flex; flex-direction: column;">
            <button pButton type="button" (click)="banUser()" label="Ban User" pTooltip="Ban User For inappropriate behavior" style="outline: none;border: none;background-color: white;color: black; padding: 4px; margin: 3px;" icon="pi pi-ban"></button>
            <button pButton type="button" (click)="createHold()" label="Hold Chat" pTooltip="Put User On Hold" style="outline: none;border: none;background-color: white; padding: 4px;color: black; margin: 3px;" icon="pi pi-pause"></button>
            <button pButton type="button" (click)="createUnHold()" label="Un-Hold Chat" pTooltip="Remove User from Hold" style="outline: none;border: none;background-color: white;color: black; padding: 4px; margin: 3px;" icon="pi pi-play"></button>
            <button pButton type="button" (click)="closeChat()" label="Close Chat" pTooltip="Close Chat" style="outline: none;border: none;background-color: white;color: black; padding: 4px; margin: 3px;" icon="pi pi-stop"></button>
        </div>
    </ng-template>
</p-overlayPanel>

<!-- Agent Transfer -->
<p-dialog header="Transfer Chat" [(visible)]="agentTransferDisplay">
    <div style="min-height: 150px;">
        <p-dropdown [options]="agentList" [formControl]="selectedAgent" optionLabel="name"></p-dropdown>
    </div>
    <button [disabled]="selectedAgent.value === null" style="background-color: purple;" pButton type="button" (click)="transferChat()" label="Transfer Chat" pTooltip="Transfer Chat To Selected Agent"></button>
</p-dialog>

