<div class="row">
    <div class="col-md-11">
      <div class="card">
        <div class="card-body">
          <div class="card-title">View Intents</div>
          <!-- Form -->
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
              <p
                class="btn btn-secondary btn-style"
                [routerLink]="['/company/intents/create']"
                [routerLinkActive]="'active'"
              >
                <span class="fa fa-plus btn-padding"></span>Create Intents
              </p>
  
              <p 
              class="btn btn-secondary btn-style"
              [routerLink]="['/company/entities']"
              [routerLinkActive]="'active'"
              class="btn btn-secondary btn-style" style="margin-left: 20px">
                <span class="fa fa-eye btn-padding"></span>View Entity
              </p>
            </div>
          </div>
  
          <!-- Table -->
          <app-generic-table [cols]="cols" [data]="intentList" ></app-generic-table>
        </div>
      </div>
    </div>
  </div>
  