<!--=================================
         Banner -->
<section class="iq-breadcrumb-five main-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="mb-0">
                    <h2 class="title">Features</h2>
                    <nav aria-label="breadcrumb" class="">
                        <ol class="breadcrumb main-bg">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Features</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
         Banner -->
<!--=================================
         MAIN CONTENT -->
<div class="main-content">
    <!--=================================
            Features -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mt-5">
                    <div class="title-box">
                        <h2 class="title-light text-dark">Conversational <span>Maturity</span></h2>
                    </div>
                    <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
                <div class="col-lg-6 col-md-12 mt-5">
                    <img class="img-fluid top-img1 w-100" src="../../../assets/images/works/maturity.png" alt="image">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 order-lg-2 order-2 mt-5 pt-5">
                    <div class="title-box">
                        <h2 class="title-light text-dark">Emotionally <span>Intelligent</span></h2>
                    </div>
                    <p class="mt-4">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout.</p>
                    <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout.</p>
                </div>
                <div class="col-lg-6 col-md-12 order-lg-1 order-2 mt-5 pt-5">
                    <img class="img-fluid top-img1 w-100" src="../../../assets/images/works/intelligence.png" alt="image">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mt-5 pt-5">
                    <div class="title-box">
                        <h2 class="title-light text-dark">3rd Party <span>Integrations</span></h2>
                    </div>
                    <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                        content.</p>
                    <div class="features-arrow">
                        <ul>
                            <li><i class="fas fa-check-circle"></i>Contrary to popular belief</li>
                            <li><i class="fas fa-check-circle"></i>There are many variations of passages</li>
                            <li><i class="fas fa-check-circle"></i>Many desktop publishing packages</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-5 pt-5">
                    <img class="img-fluid top-img1 w-100" src="../../../assets/images/works/integration.png" alt="image">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-md-5 order-lg-2 order-1 mt-5 pt-5">
                    <div class="title-box">
                        <h2 class="title-light text-dark">Free to <span>Explore</span></h2>
                    </div>
                    <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <p class="mt-4">It is a long established fact that a reader will be distracted.</p>
                </div>
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-md-5 order-lg-1 order-2 mt-5 pt-5">
                    <img class="img-fluid top-img1 w-100" src="../../../assets/images/works/free_explore.png" alt="image">
                </div>
            </div>
        </div>
    </section>
    <!--=================================
            Features -->
</div>
<!--=================================
         MAIN CONTENT -->