<!--=================================
         Banner -->
<section class="iq-breadcrumb-five main-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mb-0">
          <h2 class="title">Pricing</h2>
          <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb main-bg">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa fa-home" aria-hidden="true"></i>Home
                </a>
              </li>
              <li class="breadcrumb-item active">Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
         Banner -->
<!--=================================
         MAIN CONTENT -->
<div class="main-content">
  <!--=================================
            About Us -->
  <section class="iq-pricing">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12 text-center">
          <div class="title-box">
            <h2 class="title text-dark">Pick a pricing plan. Start more <span>conversations. </span> Shrink
              your sales cycle.</h2>
            <p class="mt-4">It has roots in a piece of classical Latin literature from 45 BC, making it over
              2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
            </p>
          </div>
        </div>
      </div>
      <div class="row no-gutters mt-5">
        <div class="col-lg-4 col-sm-12" *ngFor="let plan of plans">
          <div class="pricing-box">
            <div class="price-head mt-2 mb-2">{{ plan['subscription_name']}}</div>
            <div class="price-blog pt-4 pb-4">
              <div class="price"> <span class="currency">$</span><strong>{{ plan['price_monthly']
                                    }}/</strong><span class="month">month</span> </div>
            </div>
            <div id="price-listing-container" class="listing">
              <ul id="price-listing" class="mt-5">
                <li *ngFor="let planFeatures of plan['features']">
                  <ng-container *ngIf="planFeatures['value']!=false;else elseTimes">
                    <span class="fa fa-check"></span>&nbsp;

                  </ng-container>
                  <ng-template #elseTimes>
                    <span class="fa fa-times"></span>&nbsp;
                  </ng-template>
                  <span class="time-of-year">
                    {{ planFeatures['key']}}
                    <span class="tooltip">
                      {{ planFeatures['description'] }}
                    </span>
                    <i class="ion-information-circled"></i>
                  </span>
                </li>

              </ul>
            </div>
            <div id="choose-plan-button">
              <span class="button grey mt-5" (click)="choosePackage(plan)">Choose
                Package</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!--=================================
         MAIN CONTENT -->
