<!--=================================
         Banner -->
<section class="iq-breadcrumb-five main-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mb-0">
          <h2 class="title">Pricing</h2>
          <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb main-bg">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa fa-home" aria-hidden="true"></i>Home
                </a>
              </li>
              <li class="breadcrumb-item active">Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
         Banner -->
<!--=================================
         MAIN CONTENT -->
<div class="main-content">
  <!--=================================
            About Us -->
  <section class="iq-pricing">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12 text-center">
          <div class="title-box">
            <h2 class="title text-dark">Pick a pricing plan. Start more <span>conversations. </span> Shrink
              your sales cycle.</h2>
            <p class="mt-4">It has roots in a piece of classical Latin literature from 45 BC, making it over
              2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
            </p>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-12" *ngFor="let plan of plans">
          <div class="pricing-box">
            <div class="price-head">{{ plan['subscription_name']}}</div>
            <ng-container *ngIf="plan['subscription_name']=='Custom'; else otherPlans">
              <div class="price-blog pt-4 pb-4">
                <div class="price">
                  <span>Fixed-price contract with annual billing</span>
                  
                </div>
              </div>
              <div id="price-listing-container" class="listing">
                <ul id="price-listing" class="ul-list">
                  <li *ngFor="let planFeatures of plan['features']">
                    <ng-container *ngIf="planFeatures['value']!=false;else elseTimes">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                      </svg>

                    </ng-container>
                    <ng-template #elseTimes>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                      </svg>
                    </ng-template>
                    <span class="time-of-year">
                      {{ planFeatures['key']}}
                      <span class="tooltip">
                        {{ planFeatures['description'] }}
                      </span>
                      <i class="ion-information-circled"></i>
                    </span>
                  </li>

                </ul>
              </div>

              <div id="choose-plan-button">
                <a [routerLink]="['/contact-us']" class="button grey">Contact Us</a><br/>
                
              </div>

            </ng-container>
            <ng-template #otherPlans>
              <div class="price-blog pt-4 pb-4">
                <div class="price">
                  <ng-container *ngIf="plan['currency']=='INR'; else notIndian">
                    <span class="currency">₹</span>
                  </ng-container>
                  <ng-template #notIndian>
                    <span class="currency">$</span>

                  </ng-template>
                  <strong>
                    {{ plan['price_monthly'] }}/
                  </strong>
                  <span class="month">month</span>
                </div>
              </div>
              <div id="price-listing-container" class="listing">
                <ul id="price-listing" class="ul-list">
                  <li *ngFor="let planFeatures of plan['features']">
                    <ng-container *ngIf="planFeatures['value']!=false;else elseTimes">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                      </svg>

                    </ng-container>
                    <ng-template #elseTimes>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                      </svg>
                    </ng-template>
                    <span class="time-of-year">
                      {{ planFeatures['key']}}
                      <span class="tooltip">
                        {{ planFeatures['description'] }}
                        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
                      </span>
                      <i class="ion-information-circled"></i>
                    </span>
                  </li>

                </ul>
              </div>
              <div id="choose-plan-button">
                <span class="button grey" (click)="choosePackage(plan)">
                  Choose Package
                </span>
              </div>
            </ng-template>


          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!--=================================
         MAIN CONTENT -->