<div class="row">
  <div class="col-md-11">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Reporting</div>
        <!-- Form -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="domain-select">From Date*</label>
              <input
                type="date"
                class="form-control"
                id="message-input"
                aria-describedby="emailHelp"
                placeholder="Message"
                [formControl]="fromDate"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Select Date from which you want report to begin</small
              >
            </div>
            <div class="form-group">
              <label for="quicklinks">Total User</label>
              <input
                type="text"
                class="form-control"
                id="quicklinks"
                aria-describedby="emailHelp"
                placeholder="User"
                readonly
                [value]="reportData.length"
              />
              <small id="emailHelp" class="form-text text-muted"
                >This box will show total users found under searched
                report</small
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="message-input">To Date*</label>
              <input
                type="date"
                class="form-control"
                id="message-input"
                aria-describedby="emailHelp"
                placeholder="Message"
                [formControl]="toDate"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Select Date from which you want report to end</small
              >
            </div>
          </div>
          <button
            [disabled]="fromDate.invalid || toDate.invalid"
            (click)="submitForm()"
            type="button"
            class="btn btn-success"
          >
            Submit
          </button>
        </div>

        <!-- Table -->
        <div class="card-title">Added Records</div>
        <app-generic-table [cols]="cols" [data]="reportData" component="reporting" ></app-generic-table>
        <p-confirmDialog header="Do you want to delete selected records?" icon="pi pi-exclamation-triangle"></p-confirmDialog>

      </div>
    </div>
  </div>
</div>
