.agent-sidebar{
    width: 250px;
    height: 100%;
    float: left;
    padding: 10px;
}

.agent-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agent-name h3{
    color: rgb(100, 98, 98);
}

.notification-button{
    background: transparent;
    padding: 0px;
    outline: none;
    border: none;
    color: black;
}

.edit-header-button{
    height: 30px;
    margin-top: 5px;
    width: 100%;
    background: transparent;
    color: black;
    outline: none;
    border: none;
}

.header-info-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.edit-header-button:hover{
    width: 100%;
    background: transparent;
    color: blueviolet;
}

.edit-header-button:active{
    outline: none;
    border: none;
}

.avatar-label{
    height: 1.5rem !important;
    width: 1.5rem !important;
}

.menu-items{
    padding: 0 10px;
}

.menu-item{
    padding: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.menu-item a{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: lightslategray;
    cursor: pointer;
}

.menu-active{
    background-color: purple;
    color: white !important;
    border-radius: 5px;
}

.menu-item a svg{
    margin-right: 5px;
}

.menu-category{
    display: block;
    color: var(--text-color-secondary);
    font-weight: 600;
    user-select: none;
    padding: 1rem 0 0.5rem;
    font-size: .857rem;
    text-transform: uppercase;
}

.bottom-actions{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 230px;
}