.row {
    margin: 10px;
    justify-content: center;
}

.navigator-domain {
  background: #a733bb;
  margin-bottom: 10px;
  color: white !important;
  border: none;
  outline: none;
}

.button-active {
  background: #7d4ac7;
}
