<div class="row">
  <div class="col-md-11">
    <div class="card" id="add-agent-card">
      <div class="right">
        <div class="card" id="container-card-right">
          <form>
            <div class="card-body">

              <!-- <div class="card-title">
                Payment
              </div> -->
              <!-- Form -->
            </div>

            <!-- Form -->
            <div class="">

              <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                <div class="form-group">
                  <input type="text" formControlName="name" placeholder="Jane Doe">

                </div>
                <div class="form-group">

                  <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                </div>
                <button type="submit">
                  Submit
                </button>
              </form>
              <!--               
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Email address*</label>
                <input type="email" class="form-control" placeholder="name@example.com">
              </div>

              
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Password*</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>

              
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Confirm Password*</label>
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>

              
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Phone Number*</label>
                <input type="number" class="form-control" placeholder="Phone number">
              </div>

              
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Password Match Confirmation</label>
                <input readonly type="text" class="form-control" id="statusInput" placeholder="">
              </div> -->


              <!-- Phone -->

            </div>
          </form>
          <!-- Form Ends -->

        </div>
      </div>
    </div>
  </div>
</div>