
<br>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="" id="add-agent-card">
      <div class="right">
         <div class="">
            <div class="card-title">
              <h5>Edit Profile</h5>
            </div>
          </div>
        <div class="" id="container-card-right">
          <form class="bg-white">
            <!-- Form -->
            <div class="row">
              <!-- First Name -->

              <div class="col-xs-12 col-md-12 form-group">
                <label for="exampleFormControlInput1">Profile Pic</label>
                <input type="file" class="form-control">
              </div>

              <!-- First Name -->
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">First Name*</label>
                <input type="text" class="form-control" placeholder="First Name">
              </div>

              <!-- Last Name -->
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Last Name*</label>
                <input type="text" class="form-control" placeholder="Last Name">
              </div>

              <!-- Email -->
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Email*</label>
                <input type="text" class="form-control" placeholder="Last Name">
              </div>

              <!-- Phone -->
              <div class="col-xs-12 col-md-6 form-group">
                <label for="exampleFormControlInput1">Phone Number*</label>
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>

              <div class="col-xs-12 col-md-12 col-sm-12">
                <button type="button" class="btn btn-theme">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-theme">Cancel</button>
              </div>
            </div>
          </form>
          <!-- Form Ends -->

        </div>
      </div>
    </div>
  </div>
</div>
</div>
