.row {
    margin: 10px;
    justify-content: center;
  }

#sample{
    margin-left: 10px;
}

.card {
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border-radius: 12px;
}

#infobar{
    margin-top: 10px;
}

#add-agent-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#btn-group-container button{
    margin-bottom: 10px;
    background: linear-gradient(to right, #7d4ac7 0%, #a733bb 100%);
}

.selected{
    background: linear-gradient(to right, #7d4ac7 0%, #a733bb 100%);
    color: white;
}

.right{
    width: calc(100%);
}

.right #container-card-right{
    box-shadow: none
}

#table-container{
 overflow-x: scroll;
}

@media screen and (max-width:870px) {
    #sample{
        margin-left: 0px !important;
        margin-top: 10px;
    }
}
.ht-45{
    height: 38px;
}
.ht-wrap{
    justify-content: right;
}
.pd-left{
    padding-left: 0px;
}

.p-button.p-button-danger{
    color: #ffffff;
    background: #EF4444;
    border: 1px solid #EF4444;
}