<div class="row">
    <div class="col-md-11">
      <div class="card" id="add-agent-card">
        <div class="right">
          <div class="card" id="container-card-right">
            <div class="card-body">
              <div class="card-title">
                All Agents<br />
                <a href="">Download Chat History</a>
                <div id="btn-group-container">
                  <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agent Type
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">All Agent</a>
                    <a class="dropdown-item" href="#">Invited Agent</a>
                  </div>
                </div>
                </div>
              </div>
              <!-- Form -->
            </div>

            <!-- Table -->
            <app-generic-table [cols]="cols" [data]="agentList" component="agents" ></app-generic-table>
            <p-confirmDialog header="Do you want to delete selected records?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
  </div>
  