<div class="chat-list-container p-grid">
    <div class="p-col-12 chat-list-search">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Search">         
        </span>
    </div>

    <div class="chat-list-chats">
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>

        <div class="card-active">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
        
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>

        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
        
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>

        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
          
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
          
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
          
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
          
        <div class="card">
            <div class="message-header">
                <p-avatar label="P" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">Live Chat</span> <span class="chat-person">Parveen Singh</span></span>
                </div>
            </div>
            <div class="message-message">
                Hi how are you ? Is this ...
            </div>
        </div>
        
        
    </div>
    
</div>
