<div class="chat-list-container p-grid">
    <div class="p-col-12 chat-list-search">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Search">         
        </span>
    </div>

    <div *ngIf="selectedChatList !== 'Incoming Chat' else incomingChatDiv" class="chat-list-chats">

        <div (click)="setSelectedChat(chat.id)" *ngFor="let chat of chatlist" [ngClass]="{'card-active':chat.id === selectedChat,'card':chat.id !== selectedChat}">
            <div class="message-header">
                <p-avatar [label]="chat.client.substring(0,1)" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">{{selectedChatList}}</span> <span class="chat-person">{{chat.client}}</span></span>
                </div>
            </div>
            <div class="message-message">
                {{chat.datetime}}
            </div>
        </div>
        
    </div>

    <ng-template #incomingChatDiv class="chat-list-chats">
        <div (click)="setSelectedChat(chat.mobile)" *ngFor="let chat of chatlist" [ngClass]="{'card-active':chat.mobile === selectedChat,'card':chat.mobile !== selectedChat}">
            <div class="message-header">
                <p-avatar [label]="chat.username.substring(0,1)" shape="circle"></p-avatar>
                <div class="message-header-message">
                    <span> <span class="chat-category">{{selectedChatList}}</span> <span class="chat-person">{{chat.username}}</span></span>
                </div>
            </div>
            <div class="message-message">
                {{chat.mobile_no}}
            </div>
        </div>
    </ng-template>
    
</div>
